{{ form_start(form, {'attr': {'id': 'password-reset-form'}}) }}
    <div class="field">
        <p class=" subtitle is-6 has-text-left">Remplissez le champs avec l'adresse mail de votre compte pour recevoir un lien de réinitialisation : </p>
        {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
    </div>

    <button type="submit" class="button is-primary">Envoyer l'email</button>
{{ form_end(form) }}
