{% extends 'blog/layout-blog.html.twig' %}

{% block security %}
    <div class="security-container">
        <div class="password-reset">
            <h1 class="title is-3">Mot de passe oublié</h1>
            <div class="border-form">
                {% include 'blog/security/password/_password_reset_request_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
