#bell {
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: $navbar-item-hover-background-color;
    }

    &::after {
        position: absolute;
        content: attr(data-notification-count);
        top: 7px;
        right: 1px;
        border-radius: 60px;
        background: $primary;
        color: #fff;
        font-weight: 800;
        font-size: 11px;
        border: solid 2px #fff;
        padding: 0 5px;
    }

    &.notification-read::after {
        content: none;
    }

    .ding {
        animation: ring 1.5s ease;
    }
}

.bell-active {
    color: #17a2b8;
    background-color: #fafafa;
}

.bell-container {
    display: none;
    position: absolute;
    top: 52px;
    right: 157px;
    width: 380px;
    border-right: 1px solid #ABA9A9;
    border-bottom: 1px solid #ABA9A9;
    border-left: 1px solid #ABA9A9;
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3);
    background: white;
    color: #666;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 2;

    .bell-header {
        background-color: $primary;
        color: white;
        text-align: center;
        padding: 10px 20px;
        height: 40px;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        font-weight: bold;
    }

    .bell-empty-content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(215px - 40px);
    }

    .bell-content {
        min-height: calc(215px - 40px);
    }

    .vertical-bar::before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: #ddd;
        position: absolute;
        left: 24px;
        z-index: -1;
    }

    .bell-notification-item {
        position: relative;
        transition: background-color .2s;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            top: 0;
            height: 100%;
            background-color: #1fa1b8;
            transition: all 0.2s;
            z-index: -2;
        }

        &:hover::after{
            width: 27px;
            z-index: 0;
        }

        &:hover {
            background: #f1f1f1;
        }

        &:hover i {
            color: $primary;
        }
    }

    .bell-notification-icon {
        display: inline-block;
        vertical-align: middle;
        color: #dddddd;
        transition: all .2s;
        border-radius: 40px;
        position: relative;
        width: 20px;
        text-align: center;
        line-height: 20px !important;
        background-color: #ffffff;
        z-index: 2;
    }

    .bell-notification-content {
        display: inline-block;
        vertical-align: middle;
    }

    .bell-notification-time {
        font-size: 15px;
    }
}

.bell-open {
    display: block;
}

@keyframes ring {
    0% {
        transform: rotate(10deg);
    }
    12.5% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(20deg);
    }
    37.5% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(20deg);
    }
    62.5% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
