<p>Bonjour {{ username }},</p>
<p>Vous recevez cet email car une demande de réinitialisation de mot de passe a été demandé pour votre compte.<br>
    Vous pouvez le réinitialiser en cliquant sur ce lien :
</p>
<p>
    <a href="{{ url('password_reset_new', {'resetPasswordToken': token}) }}">
        {{ url('password_reset_new', {'resetPasswordToken': token}) }}
    </a>
</p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email</p>
