<p>Hello {{ username }},</p>
<p>You received this email because a reset password request has been send on your account.<br>
    To reset it click on this link below :
</p>
<p>
    <a href="{{ url('password_reset_new', {'resetPasswordToken': token}) }}">
        {{ url('password_reset_new', {'resetPasswordToken': token}) }}
    </a>
</p>

<p>If you are not the owner of this request, please ignore it</p>
