<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="{{ path('homepage') }}" class="navbar-brand">Training Symfony-blog</a>

        {% if is_granted('ROLE_ADMIN') %}
        <form class="form-inline">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('admin-dashboard') }}">Dashboard</a>
        </form>
        {% endif %}
    </div>
</nav>
