{% extends 'blog/layout-blog.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column is-one-quarter">
            {% include('blog/user/profile/_sidebar.html.twig') %}
        </div>
        <div class="column">Auto</div>
    </div>
{% endblock %}
