{% extends 'blog/layout-blog.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column is-one-third">is-one-third</div>
        <div class="column">Auto</div>
    </div>
{% endblock %}
