.bg-grey {
    background-color: #F3F3F3;
}

.bg-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-grey-color {
    color: $dark-grey;
}

.text-danger {
    color: #FF7676;
}

.height-max {
    height: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

/** form for registration/login/reset_passord **/
.center-form {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

    .border-form {
        width: 350px;
        display: inline-block;
        background: #FFFFFF;
        border: 0.5px solid #D9D9D9;
        border-radius: 7px;
        padding: 25px;
    }
}

/** Override bulma class **/
.columns.is-gapless:not(:last-child) {
    height: 100%;
    margin-bottom: 0;
}

.menu-list a.is-active,
.menu-list a.is-active:hover {
    background-color: rgba(255, 255, 255, 0.23);
}

.navbar-brand {
    .navbar-item {
        font-size: 18px;
    }
}

a.navbar-item:hover {
    background-color: transparent;
}

.input-focus {
    border-color: #80bdff;
    outline: none;
}

.footer {
    background-color: #DADADA;
}
