$fa-font-path: "../fonts";
$navbar-background-color: rgba(255, 255, 255, 0.80) !default;
$primary: #17a2b8;
$dark-grey: #363636;
$red-ligt: #fff5f7;
$strong-red: #cd0930;

$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
$link: $primary;
$message-error-background-color: #fff5f7;
$message-error-color: #cd0930;
