// some colors
$primary: #17a2b8;
$grey-dark: #363636;
$grey-light: #DCDCDC;
$grey-lighter: #F3F3F3;
$grey-footer: #DADADA;
$red-light: #fff5f7;
$red-strong: #cd0930;
$blue-light: #80bdff;
$secondary: #4a4a4a;

$link: $primary;

// menu-list variables
$menu-list-link-and-hover: rgba(255, 255, 255, 0.23);

// pagination variables
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;

// Errors messages variables
$message-error-background-color: $red-light;
$message-error-color: $red-strong;

