{% extends 'base.html.twig' %}

{% block wrapper %}
    <body>
    <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
{% endblock %}
