{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="wrapper">
        {{ parent() }}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </div>
{% endblock %}
