{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="wrapper">
        {% include 'backoffice/sidebar/sidebar.html.twig' %}

        <div class="main-panel">
            {{ parent() }}
                {% block body %}{% endblock %}
        </div>
    </div>

    {% block javascripts %}{% endblock %}

{% endblock %}
