{% extends 'base.html.twig' %}

{% block wrapper %}
    <body class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            {% include 'backoffice/navbar/navbar.html.twig' %}
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </div>
    </body>
{% endblock %}
