<aside class="menu sidebar">
    <p class="sidebar-title">
        BACK-OFFICE
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{ path('admin-dashboard') }}"
               class="nav-link {{ (app.request.attributes.get('_route') == 'admin-dashboard') ? 'is-active' : '' }}">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                DASHBOARD
            </a>
        </li>
        <li>
            <a href="{{ path('admin-articles') }}"
               class="nav-link {{ (app.request.attributes.get('_route') == 'admin-articles') ? 'is-active' : '' }}">
                <i class="fa fa-file" aria-hidden="true"></i>
                ARTICLES
            </a>
        </li>
    </ul>
</aside>

