{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="notification-container">
        <div class="notification is-primary">
            <button class="delete"></button>
            <i class="fa fa-bell" aria-hidden="true"></i>
            {{ flashMessage }}
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="notification-container">
        <div class="notification is-danger">
            <button class="delete"></button>
            <i class="fa fa-bell" aria-hidden="true"></i>
            {{ flashMessage }}
        </div>
    </div>
{% endfor %}
