services:
    _defaults:
        public: true

    # If you need to access services in a test, create an alias
    # and then fetch that alias from the container. As a convention,
    # aliases are prefixed with test.
    test.repository.article_repository: '@App\Repository\ArticleRepository'
    test.repository.user_repository: '@App\Repository\UserRepository'
