{% extends 'base.html.twig' %}

{% block wrapper %}
    {{ parent() }}
    <div class="wrapper">
        {% include 'backoffice/sidebar/sidebar.html.twig' %}

        <div class="main-panel">
                {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}
