{% extends 'base.html.twig' %}

{% block wrapper %}
    {% block body %}
        <div class="login-container">
            <div class="border-form">
                <h2 class="title is-3">Panneau d'administration</h2>
                {% include('backoffice/security/_form.html.twig') %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
