.form-padding {
  padding: 35px;
}

.form-content {
  background: #FFFFFF;
  padding: 20px;
}

.form-part {
  display: inherit;
  background-color: #E3E3E3;
  font-size: 17px;
  margin: 15px 0 15px 0;
  padding: 9px 0 9px 9px;
}
