.login-container {
  text-align: center;
  height: 100vh;

  .border-form {
    display: inline-block;
    background: #FFFFFF;
    border: 0.5px solid #D9D9D9;
    border-radius: 15px;
    margin-top: 30px;
    padding: 35px;
  }

  .login-message {
    background-color: $message-error-background-color;
    color: $message-error-color;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
  }
}
