.sidebar {

  position: fixed;
  width: 280px;
  height: 100%;
  background-color: #17a2b8;
  padding-left: 0;
  padding-right: 0;

  .sidebar-title {
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 11px 15px;
  }

  .nav-link {
    color: #fff;
    border-radius: 4px;
    text-align: center;
    margin: 5px 15px;

    &:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
      -webkit-transition: background-color 0.3s; /* Safari */
      transition: background-color 0.3s;
    }
  }
}
